@use "interfaceCss";
@use "config";

$background-color: #1e1e2a;
$secondBackgroundColor: #252531;
$thirdBackroundColor: #1f1f2b;

#contGenDer {
    background-color: $background-color;
    display: grid;
    grid-template:  100% 5fr / 1fr fit-content(60px);
    
    // MARK: CENTRO
    > .menu {
        margin: 20px;
        padding-top: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
        > #menuWelcomeDiv {
            background-image: url("../res/img/backgroundMountain.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            > .innerDiv {
                padding: 20px;
                flex: 1;
                backdrop-filter: brightness(30%);

                > #functionalCodeBlock {
                    font-family: 'Courier New', Courier, monospace;
                    .color3 {
                        border-right: solid white 1px;
                    }
                    i {
                        color: config.$defaultYelow;
                        font-style: normal;
                    }
                }
            }
        }

        > #mainMenuSmallStats {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;

            > .stat {
                display: flex;
                align-items: baseline;
                gap: 10px;
                > .big {
                    @extend %yellowBigText;
                }
                > .small {
                    font-size: config.$smallTextFont;
                }
            }
        }

        > #mainMenuKnowedges {
            > .elementsContainer {
                @extend %basicElementsContainer;
                > .block {
                    @extend %basicElements;
                    > h3 {
                        margin-top: 0px;
                        @extend %yellowBigText;
                    }
                    > p {
                        @include interfaceCss.paragraphStyle1();
                        font-size: config.$smallTextFont;
                        margin: 0px;
                    }
                    transition: all 0.2s linear;
                }
                > .block:hover {
                    transform: scale(1.1) rotate(3deg);
                    //transform: rotate(10deg);
                    transition: all 0.2s linear;
                }

                
            }
        }

        > footer {
            background-color: config.$defaultElementBackgroundColor;
            width:auto;
            margin: 10px;
            padding: 15px;
            padding-inline: 30px;

            > .credits, p, a {
                @include interfaceCss.paragraphStyle1();
                font-size: config.$smallTextFont;
                text-align: center;
            }

            a {
                transition: all 0.2s linear;
            }

            a:hover {
                color: config.$onHoverTextColor1;
                transition: all 0.2s linear;
            }

            >.credits {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    
    // MARK: DRCHA
    > .sideMenu {
        
        background-color: $thirdBackroundColor;

        > .listImgContainer {
            background-color: $secondBackgroundColor;
            min-width: 50px;
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            align-content: center;
            justify-content: center;
            svg {
                width: 60%;
                aspect-ratio: 1/1;
                fill: config.$svgIconColor;
                rotate: 180deg;
                transition: all 0.22s linear;
            }

            svg:hover {
                fill:config.$onHoverTextColor1;
                transition: all 0.22s linear;
            }
        }

        > .optionsContainer {
            
            margin: 10px;
            @include interfaceCss.emphasizedText1();
            

            a {
                @extend %removeAStyle;
                @include interfaceCss.paragraphStyle1();
                font-size: config.$mediumTextFont;
                transition: all 0.2s linear;
            }
            ul {
                @extend %removeListStyle;
                display: flex;
                flex-direction: column;
                align-items: center;
                //min-width: 100%;
            }
            li {
                //rotate: 90deg;
                writing-mode: vertical-lr;
                text-align: center;
                margin: 10px 0;
                text-transform: uppercase;
                
            }

            a:hover {
                color: config.$onHoverTextColor1;
                transition: all 0.2s linear;
            }
        }
    }
}