$finalBackgroundColor_: #7b8580 !default;
$finalBackgroundColor: #181a25 !default;
$izqBackgroundColor: #1f1f2b !default;
$defaultTextColor: #FFF !default;
$defaultYelow: #ddc37a !default;
$extraSmallTextFont: 12px !default;
$smallTextFont: 13px !default;