$finalBackgroundColor_: #7b8580 !default;
$finalBackgroundColor: #181a25 !default;
$izqBackgroundColor: #1f1f2b !default;
$defaultTextColor: #FFF !default;
$defaultElementBackgroundColor: #2d2d3b  !default;
$defaultYelow: #e9e627 !default;
$extraSmallTextFont: 12px !default;
$smallTextFont: 14px !default;
$mediumTextFont: 16px !default;
$bigTextFont: 20px !default;
$extraBigTextFont: 24px !default;